.video-wrapper-outer.full {
  transition: all 0.4s ease-in-out;
  height: fit-content !important;
  /* min-height:100px; */
  width: 100vw !important;
  /* background-color: black; */
  border: 0.4px solid var(--text-color);
  position: fixed;
  bottom: 0px !important;
  left: 0px !important;
  /* background: pink; */
  display: flex;
  top: unset !important;
  flex-direction: row-reverse;
  padding: 0px;
}
.video-wrapper-outer.full .video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px; */

  height: 30vh;
  min-height: 100px;
  /* background: green; */
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.video-wrapper-outer.full #displayed-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: tan; */
}
.video-wrapper-outer.full .bottom-container {
  width: 70%;
  height: 30vh;
  min-height: 100px;

  padding: 0px;
  display: flex;
  flex-direction: row;
}

/* video ocontorls */
.video-wrapper-outer.full .progress-container {
  position: fixed;
  top: auto;
  bottom: 30vh;
  transform: translateY(-8px);
  left: 2.5%;
  width: 95%;
  z-index: 100;
  height: 30px;
}
.video-wrapper-outer.full .controls-container {
  position: fixed;
  top: auto;
  bottom: 30vh;
  left: 5px;
  width: calc(100% - 10px);
  height: 30px;
}
.video-wrapper-outer.full #volume-bar {
  position: absolute;
  transform: rotate(90deg);
  right: -20px;
  bottom: 55px;
}

/* Video wrapper syncing */
.video-wrapper-outer.small {
  z-index: 3;
  position: absolute;
  width: var(--selectedImageSize);
  height: auto;
  max-height: var(--selectedImageSize);
  background-color: var(--text-color);
  opacity: 0;
  visibility: hidden !important;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  /* display: none; */
}

.video-wrapper-outer.small .video-wrapper {
  display: flex;
  /* background-color: burlywood; */
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

#displayed-video {
  /* background-color: black; */
  width: 100%;
  /* height: 100%; */
}

.controls-container {
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
}
.progress-container {
  width: 100%;
}
#progress-bar {
  width: 100%;
}

#playPauseBtn,
#volumeBtn {
  width: 10px;
  height: 10px;
}

#volume-bar {
  width: 50px;
}

/* Basic style for the progress bar */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px !important;
  border: 0.5px solid var(--text-color);
  background: inherit; /* Light gray background */
  /* border-radius: 5px; */
  outline: none;
  transition: background 0.3s ease, height 0.1s ease-in-out;
  position: relative;
}

input[type="range"]:hover,
input[type="range"]:hover::-webkit-slider-thumb {
  height: 9px;
}

/* Style for the thumb (the draggable part) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 100%;
  position: relative;

  background: var(--text-color);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  /* border-radius: 10px; */
  position: relative;

  background: var(--text-color);

  cursor: pointer;
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}
