# /vids/
# /singleVideoProcess/tmp/
/processing/.env
/processing/cookies.txt

# # Ignore all .mp4, .png, .jpg, .mp3 files in the repository
# *.mp4
# *.png
# *.jpg
# *.mp3
# *.wav
# *.webm
# *.csv
# *.json
# *.env