#experiment-page {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.left-panel,
.right-panel {
  padding: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.left-panel {
  background-color: white;
  gap: 40px;
}
.left-panel * {
  color: black;
}

.right-panel {
  background-color: black;
  gap: 20px;
}
.right-panel * {
  color: white;
}

.right-panel h2 {
  font-size: 12px;
}

#experiment-sketches-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.right-panel .canvas-container {
  border: 1px solid white;
  width: 100%;

  min-height: 200px;
  min-height: 200px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  font-size: 8px;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}
.input-container input {
  height: 35px;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  border: 0.1px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
.input-container input:hover {
  border: 1px solid black;
}
.input-container input:focus-visible,
.input-container input:focus,
.input-container input:active {
  border: 0.5px solid black;
  background-color: rgba(231, 221, 209, 0.389);
  outline: none;
}

.sound-options {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 0.5rem;
}

.input-sound-radio {
  padding: 0.5rem;
  background-color: rgba(231, 221, 209, 0.389);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 100;
  transition: all 0.1s ease-in-out;
}

.input-sound-radio:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.839);
}

#drag-panel {
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  background-color: black;
  /* border:.5px solid white; */
  transition: all 0.1s ease-in-out;
}
#drag-panel:hover {
  width: 10px;
  border: none;
  background-color: tomato;
}
#output-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#progress-bar-outer {
  width: 100%;
  height: 0px;
  border: 0.5px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
#progress-bar {
  width: 0%;
  height: 100%;
  background-color: white;
  transition: width 0.5s ease-in-out;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#progress-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 7px;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;

  color: white !important;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;

  font-family: Futura;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 2px;
}
button:hover {
  background-color: rgba(36, 36, 36, 0.83);
}

.youtube-errors {
  font-size: 7px;
  font-weight: 900;
  color: tomato;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.upload-image-previews {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.upload-image-previews img {
  flex: 1 1 0;
  width: 25%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.upload-image-previews img:hover {
  border: 1px solid white;
}

#output-container button {
  background: white;
  color: black;
}
#output-container button:hover {
  background: inherit;
  border: 0.5px solid white;
  color: white;
}
