#films-page {
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;

  --shrinkSize: 100px;

  --selectedImageSize: 150px;
  --hoverImageSize: 100px;
  --prevImageSize: 50px;
}
/* VIDEO WRAPPER */
.preview-container {
  transition: all 0.5s ease-out;
  border: 0.4px solid white;
}
.preview-container.full {
  width: 100vw;
  /* height: calc(100vh - var(--shrinkSize)); */
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(242, 122, 142); */
}

.preview-container.small {
  width: 100vw;
  height: var(--shrinkSize);
  /* background-color: pink; */
}

.preview-container.small #sketches-container {
  position: absolute;
}

.preview-container.full #sketches-container {
  position: absolute;
  width: 100vw;

  height: calc(100% - 30vh - 100px);
  /* background: pink; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: hidden;
}

/* DASHBOARD */
.dashboard {
  transition: all 0.5s ease-out;
  /* background-color: rgb(122, 154, 54); */
  display: flex;
  flex-direction: column;
}
.dashboard.full {
  padding: 0px;
  width: 100vw;
  height: calc(100vh - var(--shrinkSize));
  /* background-color: cadetblue; */
  overflow: hidden;
}
.dashboard.full * {
  transition: visibility 0.5s ease-out;
  visibility: visible;
}
.dashboard.small {
  width: 100vw;
  height: var(--shrinkSize);
}
.dashboard.small:hover {
  background-color: rgb(37, 37, 37);
}
.dashboard.small * {
  visibility: hidden;
}

/* DASHBOARD plots*/
.plots-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid white;
}

/* DASHBOARD scene previews*/
.scene-preview-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--selectedImageSize);
  overflow: hidden;
  /* overflow-x: auto; */
  gap: 0.5px;
}

.scene-preview-container .sceneImg {
  height: 50px;
  width: var(--prevImageSize);
  object-fit: fit;
  /* border:1px solid white; */
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.scene-preview-container
  .sceneImg[selected="false"][next="false"][prev="false"]:hover {
  height: var(--hoverImageSize);
}

.sceneImg[selected="true"] {
  height: fit-content;
  width: var(--selectedImageSize) !important;
  object-fit: contain;
}

.sceneImg[next="true"],
.sceneImg[prev="true"] {
  height: auto;
  width: var(--hoverImageSize);
  object-fit: contain;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.sceneImg[next="true"]:hover,
.sceneImg[prev="true"]:hover {
  opacity: 0.8 !important;
  border: 0.5px solid white;
}

.scene-preview-container.small {
  padding: 0px;
  height: var(--shrinkSize);
  position: absolute;
  top: 0px;
  left: 0px;
}
.scene-preview-container.small .sceneImg,
.scene-preview-container.small .sceneImg[selected="true"] {
  height: 100% !important;
  object-fit: cover;
}
