* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: black;
}

@font-face {
  font-family: 'Jost';
  src: url('./Jost-Bold.ttf');
}

svg text{
  letter-spacing: 30px;
 font-family: 'Jost';
}