

* {
  box-sizing: border-box;
  margin: 0px;
  color:white;
}
body {

  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: tan;
  font-family: "Futura";
}

.page{
  position:absolute;
  width: 100vw;
  height:100vh;
  background-color: black;
}
svg text{
  letter-spacing: 20px;
 font-family: 'Jost';
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility:visible;
}
h1{
  font-size:32px;
  letter-spacing: 7px;
}

h2{
  font-size:20px;
  letter-spacing: 5px;
}

h3{
  font-size:12px;
  font-weight: 700;
  letter-spacing: 5px;
}
p{
  font-size:9px;
  font-family:Futura;
  font-weight: 200;
}

.spacer{
  height:20px;
}