
.video-wrapper-outer.full {
  transition:all 1s ease-in-out;
  top:calc(50vh - 100px)!important;
  left:50vw!important;
  transform:translate(-50%,-50%);
  height: fit-content !important;
  width: 80vw !important;
  background-color: black;
  border: 0.4px solid white;
}
.video-wrapper-outer.full .video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;


  align-items: center;
  justify-content: center;
}

.video-wrapper-outer.small .video-wrapper {
  display: flex;
  /* background-color: burlywood; */
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  height: 100%;
  width: 100% ;

  align-items: center;
  justify-content: center;
}

#displayed-video {
  /* background-color: black; */
  width: 100%;
  /* height: 100%; */
}


.controls-container {
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
}
.progress-container {
  width: 100%;
}
#progress-bar {
  width: 100%;
}

#playPauseBtn,
#volumeBtn {
  width: 10px;
  height: 10px;
}

#volume-bar {
  width: 50px;
}

/* Basic style for the progress bar */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border: 0.5px solid white;
  background: inherit; /* Light gray background */
  /* border-radius: 5px; */
  outline: none;
  transition: background 0.3s ease, height 0.1s ease-in-out;
  position: relative;
}

input[type="range"]:hover,
input[type="range"]:hover::-webkit-slider-thumb {
  height: 9px;
}

/* Style for the thumb (the draggable part) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 100%;
  position: relative;

  background: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  /* border-radius: 10px; */
  position: relative;

  background: white;

  cursor: pointer;
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}
